@use "sass:math";

// @import "config/animations";
// @import "config/fonts";
// @import "config/vars";
// @import "config/scrollbar";
// @import "config/global";
// @import "config/reset";
// @import "config/mixins";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Manrope", sans-serif;
$fontSize: 20px;

// Основные цвета
$mainColor: #dedede; // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1800;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 60;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: 1199px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767px; // Телефоны L
$mobileSmall: 480px; // Телефоны S

body {
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  // .loaded & {
  // }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================

.wrapper {
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    @media (max-width: $pc) {
      max-width: rem(1190);
      padding: 0 30px;
    }
    @media (max-width: $tablet) {
      max-width: rem(1000);
      padding: 0 30px;
    }
    @media (max-width: $mobile) {
      max-width: rem(640);
      padding: 0 20px;
    }
    @media (max-width: $mobileSmall) {
      max-width: rem(320);
      padding: 0 10px;
    }
  }
}

// @import "home";
// @import "footer";
// @import "header";
// @import "config/popup";
